<div class="login-body-bg">
	<div class="login-container">
		<form class="form-signin">
			<h2 class="form-signin-heading">Login</h2>
			<div class="form-group input-group">
				<input type="text" class="form-control" id="username" name="username" placeholder="Username" ng-model="user.name" required>
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-user"></i>
				</span>
			</div>
			<div class="form-group input-group">
				<input type="password" class="form-control" id="password" name="password" placeholder="Password" ng-model="user.password" required>
				<span class="input-group-addon">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
			</div>
			<div class="form-btn-grp">
			<button class="btn btn-lg btn-primary" type="button" ng-click="loginUser(user)">Sign In</button>
			<a class="btn btn-lg btn-primary" ui-sref="register">Sign Up</a>
			<toaster-container></toaster-container>
			</div>
		</form>
	</div>
</div>
